/* @font-face { */
/*     font-family: 'DejaVu Sans Mono'; */
/*     src: url('../fonts/DejaVuSansMono.woff') format('woff'), */
/*     url('../fonts/DejaVuSansMono.ttf') format('truetype'); */
/* } */

body {
    /* background-color: #140414; */
    background-color: #1f0010;
    /* color: #ffccee */
    color: #ddbbff
}

#content {
    font-family: dejavu sans mono;
    padding-left: 25%;
    width: 50%;
}

.title {
    background-color: #ddbbff;
    padding: 0.25rem;
    font-size: 1.5rem;
    color: #1f0010;
}

p {
    font-size: 1.1rem;
}

a {
    color:#774466;
    text-decoration: none;
}

p.verse{
    padding: 0;
    margin: 0;
}

@media(max-width: 970px) {
    #content {
        padding: 15% !important;
        width: 70% !important;
    }
}

@media(max-width: 700px) {
    #content {
        padding: 10% !important;
        width: 80% !important;
    }
    p {
        font-size: 1rem !important;
    }
    .title {
        font-size: 1.3rem !important;
    }
}

@media(max-width: 560px) {
    #content {
        padding: 2% !important;
        width: 96% !important;
    }
    p {
        font-size: 1rem !important;
    }
    .title {
        font-size: 1.3rem !important;
    }
}


